header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: white;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;

    box-shadow: -2px 2px 10px 0px #333;
}

header > span {
    flex: 1;
    display: flex;
    justify-content: center;
}

header > span.title {
    font-size: 3em;
    color: goldenrod;
}