<header>
  <span ng-if="ctrl.userService.user"
        class="fas fa-user-alt fa-2x"
        title="Connecté en tant que {{ctrl.userService.user.email}}"
  > {{ctrl.userService.user.name}}</span>
    <span class="title"><b>La Bling Banque</b></span>
    <span ng-if="ctrl.userService.user"
          title="Se déconnecter"
          class="fas fa-sign-out-alt fa-2x"
          ng-click="ctrl.userService.deconnecter();"></span>
</header>

<main class="App-intro">
    <div class="comments-container">

      <div ng-repeat="account in ctrl.accounts track by $index" class="comment" >
        <p>{{account.name}}</p>

      </div>
    </div>
    <div ui-view="user">

    </div>
</main>
